@import url('https ://fonts.googleapis.com/css2 ?family=Roboto :ital,wght@1,400 ; 1,500; 1 700&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family : 'Poppins', sans-serif;
    height: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: relative;
    top: 0%;
    z-index: 999;
    background-color: black;
}

.logo img{
    width: 145px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px #rgba(0, 0 ,0, 0.3);
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
    padding: 30px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: #06aae6;
    color: #fff;
    border-radius: 30px;
    margin-top: 25px;
    transition: background 0.6s;
}

.col-2 a:hover{
    background: #106e77;
}

p{
    color: #555;
}

.header-section{
    margin-top: -20px;
    background: radial-gradient(#fff, #eaf2fb);
}

/* style de la categories */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin: auto;
}

.col-3 img{
    width: 100%;
}

.container h2{
    text-align: center;
    font-size: 2.2rem;
    color: #444;
    margin: 50px 0;
}

/* section des meilleurs produits */

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-10px);
}

.rating .fa{
    color: rgb(255, 162, 0);
}

.col-4 .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.col-4 .prix{
    color: #f63e4e;
}

.col-4 .achat{
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 10px 18px;
    border-radius: 5px;
}
.col-4 .achat:hover{
    cursor: pointer;
    background: black;
    color: white;
}

footer{
    background: #f3f4f6;
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
}

footer p a{
    text-align: none;
    color: #f63e4e;
    font-weight: bold;
}

.col-4{
    box-shadow: 0 0 2px rgb(0, 0, 0);
    margin: 10px;
}
